<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="con_box listing-sidebar sidebar-search">
          <h6 class="title-sidebar-1">Menu</h6>
          <hr>
          <a href="/#/admin.users">Freelancers</a>
          <hr>
          <a href="/#/admin.employers">Project Owners</a>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">

        <h3>Project Owners</h3>
        <table class="admin-table table table-bordered table-condensed table-striped">
          <tbody><tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Account Status</th>
            <th>Registered At</th>
          </tr>
          <tr ng-repeat="user in employers">
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.phone }}</td>
            <td><a ng-href="mailto:{{ user.email }}">{{ user.email }}</a> </td>
            <td>{{user.account_status}}</td>
            <td> {{ user.created_at  | date:'MM/dd/yyyy @ h:mma'}}</td>
          </tr>

          </tbody></table>

        <div class="pull-right" pagination num-pages="total_pages" current-page="query.page" max-size="9"></div>

      </div>
      <!-- end of span9 -->
    </div>
  </div>
</div>
