<div class="body_container">
  <div class = "login-wrap">
    <div class = "content-heading">
      <div class = "about-heading"><h2>Reset Password</h2></div>
    </div>

    <form novalidate class="form-horizontal" name="form">
      <fieldset>
        <div class="control-group">
          <label class="control-label">New Password</label>
          <div class="controls">
            <input class="input-xlarge" type="text"
                   ng-model="user.password" required ng-minlength="8"
                    />
            <small>Password has to be at least 8 characters long</small>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button ng-disabled="!form.$valid" id="settings_save" class="btn btn-danger" ng-click="submitForm(user.password)">Reset</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>
