<link href="styles/bootstrap/css/bootstrap-responsive.css?v=3.2" rel="stylesheet">

<div class="body_container login_container">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="featured_box con_box" id="settings_con">
  <div class="row">
    <br><br><br>
    <div class="span6 offset2" style="
      text-align: center;
      font-weight: 600;
      ">
      <h4 style="
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 1px;
        ">The registration with Creatives@work is undergoing a transformation. Look out for it. In the meantime, you can register with us through email at <a href="mailto:contactus@creativesatwork.me">contactus@creativesatwork.me</a></h4>
    </div>
    <div class="clearfix"></div>
    <br><br>
  </div>
  <!-- end of box_main -->
</div>

      </div>
    </div>
  </div>
</div>
