

.listing-sidebar .accordion-heading .accordion-toggle{
	padding: 0px 0px 8px;
}

.listing-sidebar accordion-group:last-child .accordion-toggle{
	padding-bottom:  0px;
}

.listing-sidebar .accordion-inner {
padding: 0px 15px 10px;
border-top: 0px
}

.listing-sidebar .accordion {
	margin:  0px;
}
.listing-sidebar .accordion-group a{ 
	color: #333;
}
.listing-sidebar .collapse.in li a:hover, .listing-sidebar .collapse.in li a.dropdown-toggle {
	border: 0px;
}

.align-left{
	text-align:left!important;
}
.align-right{
	text-align: right!important;
}

.home-section-div {
	padding: 60px 0px;
	background-color: #fff;
}


.home-section-div.white-bg{
	background-color:  #f6f6f6;
	border-bottom: 1px solid #ffd5ee;
		border-top: 1px solid #ffd5ee;
}

.header{
	padding:18px 0;
	background-color: #ffffff;
border-top: 10px solid #ed008c;
border-bottom: 1px solid #ffd5ee;
}
.header_line{
	background-image:url("../img/header-line.png");
	height:9px;
}

.header-logo img {
margin: 0 0 0 0px;
width: 220px;

}

.signup-area {
float: right;
}
.signup-area ul {
	

}

.signup-area li{
	float: left;
}

.signup-area li a{
	display: block;
	margin: 0px 8px;
	line-height: 32px;
	color:  #666;
}

.signup-area li a:hover{
	
color: #ec008a;
}
.signup-area li a.btn {
	line-height: 22px;
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn.btn-mini{
padding: 4px 8px;
color:  #fff;
}

/* top-2
------------------------------------------------------------ */

.nav.top-2 {
	
}
.navbar.header-nav-2 {
	padding:  10px 0px 0px 0px;
	display: inline-block;
	float: right;	
}


/* home
------------------------------------------------------------ */




@font-face {
    font-family: "modern_pictogramsnormal";
    src: url("../font/modernpics-webfont.eot");
    src: url("../font/modernpics-webfont.eot?#iefix") format("embedded-opentype"),
         url("../font/modernpics-webfont.woff") format("woff"),
         url("../font/modernpics-webfont.ttf") format("truetype"),
         url("../font/modernpics-webfont.svg#modern_pictogramsnormal") format("svg");
    font-weight: normal;
    font-style: normal;

}

.banner-font1 {
    color: #515151;
    font-size: 26px;
    line-height: 2;
    font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}
.banner-font2 {
	color: #515151;
	font-size: 28px;
	line-height:  36px;
    font-family: "Conv_MuseoSans_500", Arial, sans-serif;	
    margin-bottom: 10px;
	
}

.choice-box .banner-font2 {
   
    color:  #ec008a;
    
}

.choice-box .separate2 .banner-font2{
/*	color: #D60B1D;*/
}


.banner-home2 .banner-font2{
	color:  #ec008a;
	font-size: 28px;
	line-height: 36px;
}

.p-right{text-align:right;}
.p-left{text-align:left;}
.separate {
    border-right: 1px solid #ffd5eeDDD;
    padding-right: 3%;
}
.separate2 {
    padding-right: 3%;
}
.text-center{
	text-align:center;
}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center{
	text-align:center;
}
/* banner area*/

.home-services-area{
	background-color: #f6f6f6;
	text-align: center;
	border-top: 1px solid #ffd5ee;
	
}

.services-button{
	margin-top: 20px;
	
}
.btn{
	border-radius: 9999px;;
}

.services-button .btn{
	
	margin-right: 15px;
	border-radius: 9999px;;
}
.btn.btn-large{
	padding: 15px 22px;	
}

.desc-1{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
}

/* banner - home */
.banner-home {

	background-image: url("../img/banner2.jpg");
	background-position:center top;
	background-repeat:no-repeat;
	min-height:560px;
	padding:30px 0;
	background-size: cover;
	padding-top: 110px;
}

.home-banner-desc p{
	font-size: 18px;
	line-height: 26px;
}
.banner-home2{
	background-image: url("../img/banner1.jpg");
	padding-top: 150px;
	text-align: center;
}

.banner-home2 p{
	font-size: 18px;
	line-height: 26px;
}

.home-flexslider .flex-control-nav{
	bottom: 6px;
	z-index: 900;
	
}	
.home-flexslider{
	border-bottom: 1px solid #ffd5ee;
}
	
.choice-box {
    padding-top: 30px;
}

.choice-box {

margin-top: 20px;
	padding: 0px;
}
.choice-box .span6{
	padding: 12px;
}

.choice-box .separate2{


	
	
}

.choice-box p{
color:  #666;
}



/* banner- about us */
.banner-about {
    background-image: url("../img/banner-about.png");
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    min-height: 250px;
    background-size: cover;
}
.about-comment {
    padding-top: 6%;
    text-align: center;
}
.about-comment h1{
	color:#FFFFFF;
	font-weight:normal;
	text-shadow:2px 2px 4px #000000;
}
.about-comment p{
    font-size: 18px;
    line-height:24px;

	color:#FFFFFF;
	font-weight:normal;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
}

.banner-services{
	background-image: url("../img/banner-services.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	min-height: 250px;
	background-size: cover;
}

/* partners
--------------------------------------------------------------------- */

.partners-div{
border-top: 1px solid #ffd5ee;
border-bottom: 1px solid #ffd5ee;
}
.partners-div .partners-logos{
	
}
.partners-div .partners-logos img{
	height: 65px;
	
	margin:20px 0px 20px;
}




/* banner - contact us */
.banner-contact {
    
	background-image: url("../img/banner-contact.png");
	background-position:center top;
	background-repeat:no-repeat;
	padding:30px 0 10px;
	background-size: cover;
	}
.contact-comment {
    margin: 0 auto;
    max-width: 960px;
}
.contact-comment h1{
	color:#FFFFFF;
	font-weight:normal;
	text-shadow:2px 2px 4px #000000;
}

/* about us area*/

.title-1 {
   text-align: center;
   font-size: 32px;
   margin-bottom: 20px;
   line-height: 32px;
   font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}
.title-2{
	text-align: center;
	font-size: 38px;
	margin-bottom: 20px;
	line-height: 32px;
	font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}
.title-white {
	color: white;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
	font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}

.about_us_area .au_content img{
	width:  140px;
	margin-bottom: 10px;
	
}


.services_area .span6.right{
	border-left: 1px solid #ffd5ee;
	padding-left: 40px;
	
	
}
.services_area .span6{
	padding: 0px 20px;
}
.services_area{
	text-align: center;
	margin-top: 30px;
}
.services_area p{

}
.services-icon img{
	height: 100px;
	margin-bottom: 10px;
}

h2.services-title{
	margin-bottom: 30px;	
}

.portfolio-area iframe{
	width: 100%;
	height: ;
}
.portfolio-area{
	background-color: #f6f6f6;
	text-align: center;
}

.portfolio-area .thumbnail{
	background-color: #fff;
	padding: 0px;
}
.portfolio-area .thumbnail h4{
	font-size: 18px;
	
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.portfolio-area .thumbnail p{
	font-size: 14px;
	
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.showreels-video{
	
}

.showreels-video iframe{
	width: 100%;
	
}

.showreels-area{
	background-color: #fff!important;
}

.team-pic img{
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border-radius: 9999px;
	border: 4px solid #fff;
}
.grey-bg{
	background-color: #f1f1f1!important;
}

.white-bg{
	background-color: #fff!important;
}

.au_content {
    margin: 0 auto;
    max-width: 960px;
}
.center-box {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}
.au_content > div {
    padding: 0 30px;
}
.about_us_area {

}
/* content area*/
/* content - about us */
.about_us_area > div > div {
    margin: 0 auto;
    max-width: 950px;
}
.aboutus-content p {
   
}
.short-quote {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px 0px 10px;
}
.big-font{
	font-weight:bold;
	font-size:22px;
	line-height: 28px;
	font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}
.pink-font{
	color:#ec008a;
	font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}
.right-font{
	text-align:right;
}
.about-list li {
    
    padding: 0px 0 10px;
}
.list-title {
    color: #ec008a;
    font-size: 15px;
    font-weight: bold;
}
.about-title {

    font-weight: normal;

}
/* content contact us */
.input-large {
    border-radius: 0 0 0 0 !important;
    width: 90%;
}
.note-bold{
	font-weight:bold;
	color:#909090;
}
.pink-link{
	color:#EC4AA7;
}
.facebook {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    float: left;
    height: 45px;
    max-width: 200px;
    width: 49%;
}
.twitter {
    background-image: url("../img/twitter.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    float: right;
    height: 45px;
    max-width: 200px;
    width: 49%;
}

.home-pm{
	background-image: url(../img/customer-care-team-1600-light3.png);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	padding-bottom: 240px;
	background-size: 70%;
}

/* our work area*/
.portfolio_area .title-1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333333;
    filter: dropshadow(color=#333333, offx=1, offy=1);
    margin-bottom: 30px;
    
}
.portfolio_area {
    background-image: url("../img/work/working1.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;
	border-top: 2px solid #ffd5ee;
	border-bottom: 2px solid #ffd5ee;
}
.portfolio {
    margin: 0 auto;
}
.portfolio .work-box {
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.work-box img{
	width: 100%;
	max-width: none;
}

.work-description {
    padding: 0 15px;
}
.work-description h4{
    color:#EB34A0;
    margin: 10px 0px 5px;
}
/* quote area*/
.quote_area{
	padding:40px 0 60px;
}
.quote-box-1 {
    background-repeat: no-repeat;
    background-size: 85% 100%;
	position:relative;
	
	
	position: relative;
	padding: 15px;
	margin: 10px;
	color: #fff;
	background: #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	text-align: center;
	
}
.quote-box-1::after{

/*content: "";
position: absolute;
bottom: -15px;
left: 47%;
border-width: 15px 15px 0;
border-style: solid;
border-color: #ec008a transparent;
display: block;
width: 0;*/
}

.quote-boxer{
	text-align: center;
}
.quote-img{
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	width: 120px;
	margin-top: 20px;
}
.quote-content p {
    color: #FFFFFF;
    font-size: 14px;
}
.quote-content {
   left: 75px;
   position: absolute;
   top: 44px;
   width: 60%;
}
.quote-inner {
    margin: 0 auto;
    max-width: 1000px;
}
.quote-logo > img {
	display: block;
	margin-left: auto;
	margin-right: 40px;
	width: 270px;
}
.quote-content-person {
	color:  #fff;
	text-align: right;
	font-style: italic;
	
}

.seemore-box {
    max-width: 90%;
}
.seemore {
    float: right;
    margin-top: 20px;
    width: 70%;
}
.seemore a {

    display: block;
    float: right;
    width: 270px;
}
.footer_line {
    background-image: url("../img/footer-line.png");
    height: 6px;
}

.quote-inner span.text {
font-size: 24px;
  line-height: 32px;
  position: relative;
  display: block;
  color: #333;
  padding: 20px;
  background-color: transparent;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;


}

/*.quote-inner span.text {
font-size: 15px;
position: relative;
display: block;
color: #fff;
background: #ec008a;

padding: 20px;
line-height: 18px;


-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;
border-bottom: 1px solid rgba(0,0,0,0.35);
border-top: 1px solid transparent;
}*/


.quote-inner .arw {
display: block;
border-color: transparent #ec008a transparent transparent;
border-style: solid;
border-width: 7px;
height: 0;
width: 0;
position: absolute;
top: 12px;
left: -14px;
z-index: 2;
}




.quote-inner .arwb {
display: block;
border-color: transparent #ec008a transparent transparent;
border-style: solid;
border-width: 7px;
height: 0;
width: 0;
position: absolute;
top: 12px;
left: -13px;
z-index: 1;
}



.quote-inner span.handle {
font-size: 16px;
color: #111;
display: block;
margin: 10px 0 0 0;
font-weight: normal;
text-align: center;
}


/* 
----------------------------------------------- */

.home-convert-1 .choice-box{
		margin: 0px;
		padding: 0px;
}
/* contact area*/
.contact_area {
    background-color: #f6f6f6;
    border-top: 1px solid #ffd5ee;
}
.homepage-step-div{
	text-align: center;
}
.homepage-step-div h3{
	font-size: 18px;
}

.home-question {
    color: #636363;
    font-size: 20px;
    text-align: center;
}
.home-question .desc{
display:inline-block;
margin-right: 20px;
line-height:37px;
font-family: "Conv_MuseoSans_500", Arial, sans-serif;
}

.home-question .btn{
	margin-left:  0px;
	height: 37px;
}


.contact-inner {
	text-align:center;
}
/* footer area*/

.footer {
    background-image: url("../img/footerbg.png");
	padding:10px 0;
}

.footer-nav ul li{
	float:left;
	list-style:none;
	padding:0 5px;
}
.copyright-area {
    color: #A7678D;
    text-align: right;
}
.footer-inner {
    margin: 0 auto;
    max-width: 960px;
}
.footer-nav > li {
    float: left;
    list-style: none outside none;
    padding: 0 10px;
}

/* styles for desktop */
.tinynav { display: none }

@media (max-width: 980px) {
	.banner-font1 {
		color: #515151;
		font-size: 17px;
		line-height: 2;
	}
	.banner-font2 {
		color: #515151;
		font-size: 19px;
	}
	.signup-area {
		margin-left: 50px;
	}
	.header-logo img {
		margin: 0 0 0 45px;
	}
	.quote-box {
		background-image: url("../img/quotebox.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 185px;
		position: relative;
	}
	.question {
		color: #636363;
		font-size: 20px;
		padding-right: 20px;
	}
	button.big-pink {
		background-color: #FFFFFF;
		background-image: -moz-linear-gradient(center top , #EB34A0, #EB34A0);
		border: 1px solid #888888;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 0 1px 0 0 #FFA0E7 inset;
		color: #FFFFFF;
		font: bold 30px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
		padding: 10px 30px !important;
		text-align: center;
	}
}
/*
@media (max-width: 767px) {
    .tinynav { 
		display: block;
		margin: 5px auto;
		width: 50%;
	}
	.work-box {
		background-color: #FFFFFF;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.work-description {
		margin: 0 auto;
		width: 70%;
	}
    #nav { display: none }
	.quote-logo > img {
		display: block;
		margin: 10px auto;
	}
	.quote-box {
		background-image: url("../img/quotebox.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 185px;
		position: relative;
	}
	.quote-content {
		left: 15%;
		position: absolute;
		top: 25px;
		width: 80%;
	}
	.signup-area {
		margin-left: 0px;
	}
	.header-logo img {
		margin: 0px;
	}
	.portfolio_area {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding: 30px 0;
	}
	.contact_area {
		padding: 20px 0;
		text-align: center;
	}
	.soc-nav{
		padding:5px 0;
	}
	.footer {
		background-color: #383838;
		background-image: url("../img/footerbg.png");
		background-repeat: repeat-x;
		padding: 10px 0;
	}
}


*/
