<div class="bottom-menu bottom-menu-inverse footer-nav">
  <div class="container">
    <div class="row">
      <div class="span10">
        <ul class="bottom-links">
          <li><a href="">Home</a></li>
          <li ng-show="user_type == 'employer'"><a href="/#/freelancers">Browse</a></li>
          <li ng-show="user_type == 'freelancer'"><a href="/#/projects">Browse</a></li>
          <li><a href="/#/about">About</a></li>
          <li><a href="/#/contact">Contact</a></li>
          <li><a href="/#/terms">Terms</a></li>
          <li><a href="/#/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="bottom-icons">
          <li><a href="http://www.linkedin.com/company/creativepeople-work" target="_blank" class="fui-linkedin"></a></li>
          <li><a href="http://www.facebook.com/pages/CreativePeopleWork/137832046313338" target="_blank" class="fui-facebook"></a></li>
          <li><a href="https://twitter.com/CreativesAtWrk" target="_blank" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>