<div class="contact_area home-section-div">
  <div class="container">
    <div class="row-fluid contact-inner">
      <div class="span12">
        <div class="home-question">

          <div class="desc">Any Questions?</div>
          <a href="/#/contact"><button class="btn btn-primary btn large" title="contact us">Contact Us</button></a>

          <a href="https://www.facebook.com/creativesatworkasia" target="_blank"><button class="btn btn-primary btn-small" title="facebook"><i class="icon-facebook"></i></button></a>
          <a href="https://twitter.com/CreativesAtWrk" target="_blank"><button class="btn btn-primary btn-small" title="twitter"><i class="icon-twitter"></i></button></a>

        </div>

        <div class="soc-nav">

        </div>

      </div>
    </div>
  </div>
</div> <!-- end of section -->


<div class="bottom-menu bottom-menu-inverse footer-nav">
  <div class="container">
    <div class="row">
      <div class="span10">
        <ul class="bottom-links">
          <li><a href="/">Home</a></li>
          <li ng-show="user_type == 'employer'"><a href="/#/freelancers">Browse</a></li>
          <li ng-show="user_type == 'freelancer'"><a href="/#/projects">Browse</a></li>
          <li><a href="/#/about">About</a></li>
          <li><a href="/#/contact">Contact</a></li>
          <li><a href="/#/terms">Terms</a></li>
          <li><a href="/#/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="bottom-icons">
          <li><a href="http://www.linkedin.com/company/creativepeople-work" target="_blank" class="fui-linkedin"></a></li>
          <li><a href="https://www.facebook.com/creativesatworkasia" target="_blank" class="fui-facebook"></a></li>
          <li><a href="https://twitter.com/CreativesAtWrk" target="_blank" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>