<style>
  .listing-sidebar .accordion-group{
    border: 0px;
  }
</style>

<div class="con_box listing-sidebar sidebar-categories">

  <h6 class="title-sidebar-1">Categories</h6>
  <accordion close-others="true">
    <accordion-group heading="Writing">
      <ul class="side_second_menu filterlinks pricefilters">
        <li ng-repeat="x in jobTitles.Writing"><a href ng-click="setJobTitle($event)">{{x}}</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Design">
      <ul class="side_second_menu filterlinks pricefilters">
        <li ng-repeat="x in jobTitles.Design"><a href ng-click="setJobTitle($event)">{{x}}</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Production">
      <ul class="side_second_menu filterlinks pricefilters">
        <li ng-repeat="x in jobTitles.Production"><a href ng-click="setJobTitle($event)">{{x}}</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Others">
      <ul class="side_second_menu filterlinks pricefilters">
        <li ng-repeat="x in jobTitles.Others"><a href ng-click="setJobTitle($event)">{{x}}</a></li>
      </ul>
    </accordion-group>
  </accordion>

</div>