
<link href="styles/bootstrap/css/bootstrap-responsive.css?v=3.2" rel="stylesheet">
<div class="body_container_home unbody_container">
  <div class="banner-about">
    <div class="container">
      <div class="row about-comment">
        <div class="title-2 title-white">About CreativesAtWork</div>
        <p>Through dedicated services to a global client base, <br>
          CreativesAtWork aims to be a global job marketplace for media freelancers and project owners. <br>
          We can help you simplify all your media projects!</p>
      </div>
    </div>
  </div>
  <!-- end of banner -->



  <div class="about_us_area home-section-div">
    <div class="container">
      <div class="row-fluid aboutus-content">
        <div class="span8 offset2">
          <h2 class="pink-font about-title">What We Do?</h2>
          <p>Creatives at Work is a media agency that connects the talented freelancers and project owners. If you can imagine it, we can find the best possible team to make it happen. </p>
          <p>
          Our network of media professionals can provide every service you could require, from corporate branding to video production to post-production. We'll provide close supervision and management, so these experts can produce exactly what you need, in the time that you need it.
          </p>
          <p>For freelancers, we provide an unprecedented opportunity to work with the best clients. We give you the support and opportunities you need to shine, and we make sure you're treated fairly.</p>
          <!-- <ul class="about-list">
            <li><span class="list-title">Project</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
            <li><span class="list-title">Community</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
            <li><span class="list-title">Convenience</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
          </ul> -->
          <div class="short-quote">
            <p><span class="big-font">There's a cumulative effect <br>to getting good jobs as a freelancer.</span></p>
            <p><span class="big-font pink-font">Remember,</span><span class="big-font"> you are only as good as your last job.</span></p>
            <p class="right-font">- Bruce McGill</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->

  <div class="portfolio-area management-area home-section-div grey-bg">
    <div class="container">
      <h2 class="services-title pink-font">Management Team</h2>
      <div class="row-fluid aboutus-content">
        <div class="span4 offset1">
          <div class="services-icon team-pic"><img src="styles/img/team-jayce.jpg"></div>
          <h3 class="about-title">Jayce Tham</h3>
          <h5>CEO & Co-founder</h5>
          <p class="services-desc"> Hailing from the corporate world, Jayce Tham is familiar with the pressure-cooker environment of major projects. As one of the lead members of Creatives at Work, she has helmed projects from from television ads to book publishing.</p>
        </div>

        <div class="span4 offset2">
          <div class="services-icon team-pic"><img src="styles/img/team-fanny.jpg"></div>
          <h3 class="about-title">Fanny Tham</h3>
          <h5>Co-founder</h5>
          <p class="services-desc">Fanny began her foray in the media industry in 2006 as a Business Development Manager. Her passion for the industry and entrepreneurship are the main driving force in her career and she co-founded CreativesAtWork.me in 2012.</p>
        </div>

        

      </div>
    </div>
  </div>
  <!-- end of section -->



  <div class="home-section-div home-services-area homepage-step-div white-bg">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="title-1">Looking for one stop Project Management services?</div>
          <p class="desc-1">To simplify the process of engaging the freelancers especially in more complex creative products, we will be happy to assist you in ensuring the smooth production of the creative process all the way to final delivery. </p>
          <div class="services-button"> <a href="" class="btn btn-primary btn-large"> Read our services </a> <a href="" class="btn btn-primary btn-large"> Contact us </a> </div>
        </div>
      </div>
    </div>
  </div>


</div>
