<div class="body_container unbody_container">
  <div class="banner-home">
    <div class="container">
      <div class="row">
        <div class="span8 offset4">
          <div class="row">
            <img class="center" src="styles/img/logo.png">
          </div>
          <div class="row">
            <p class="center banner-font1">is a private freelance community for creative talents</p>
            <div class="center banner-font2">Post your project, and we'll send it to a list of hand-picked freelancers all over the world</div>
          </div>
          <div class="row-fluid choice-box">
            <div class="span6 center separate">
              <p class="center banner-font2">I have a project</p>
              <p class="p-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper.</p>
              <p class="p-right">faucibus id consequat vel</p>
              <p class="p-right"><a class="p-right" href="#/employer.register"><img src="styles/img/submitproject.png"></a></p>
            </div>
            <div class="span6 center separate2">
              <p class="center banner-font2">I have skills to offer</p><p>
            </p><p class="p-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper.</p>
              <p class="p-left">faucibus id consequat vel</p>
              <p class="p-left"><a  href="#/freelancer.register"><img src="styles/img/jointhecomm.png"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of banner-home -->

</div>
