<div class="body_container_home unbody_container">
<div class="banner-home">
  <div class="container">
    <div class="row">
      <div class="span8 offset4">
        <div class="row">
          <img class="center" src="styles/img/logo.png">
        </div>
        <div class="row">
          <p class="center banner-font1">is a talent agency for freelance creative talents</p>
          <div class="center banner-font2">Post your project, and search through the list of hand-picked freelancers all over the world</div>
        </div>
        <div class="row-fluid choice-box">
          <div class="span6 center separate">
            <p class="align-right banner-font2 ">I have a project</p>
            <p class="p-right">Have a project and require freelancers? We have a network of handpicked, creative professionals who are ready to get dirty. We match you up and make sure the process goes smoothly on both ends.</p><p></p>
            <p class="p-right"><a class="p-right" href="/#/employer.register"><img data-step="3" data-intro="if you have a project, submit by clicking this button!" src="styles/img/button-submit-project-1.png"></a></p>
          </div>
          <div class="span6 center separate2">
            <p class="align-left banner-font2 ">I have skills to offer</p><p>
          </p><p class="p-left">Looking for more freelance opportunities? Join our community and create an online profile so that we can match you up with the different media projects that we are attracting.</p>
            <p class="p-left"><a href="/#/freelancer.register"><img data-step="4" data-intro="Found a project you want to offer your skills to? Click this and join our community"   src="styles/img/button-join-1.png"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end of banner-home -->


<div class="home-section-div about_us_area homepage-step-div">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="title-1">Hiring as Easy as 1, 2, 3</div>
      </div>
    </div>
    <div class="row-fluid au_content">
      <div class="span4">
        <img class="center" src="styles/img/icon-projects.png">
        <h3 class="center">Post Your Project</h3>
        <p>Post your project with detailed project descriptions and specifications so that we can match the best person for your job.</p>
      </div>
      <div class="span4 center-box">
        <img class="center" src="styles/img/icon-community.png">
        <h3 class="center">Search for Freelancer</h3>
        <p>Browse through our list of freelancers to look for one that best matches your criteria. Get to know their experience, skills, location and rates with just a click.</p>
      </div>
      <div class="span4">
        <img class="center" src="styles/img/icon-convenience.png">
        <h3 class="center">Sit Back and Wait</h3>
        <p>Sit back and wait for freelancers to bid or accept your offer to take up your project. We will get back to you in a couple of days with the best match.</p>
      </div>
    </div>
  </div>
</div>



<div class="portfolio_area home-section-div">
  <div class="container">
    <div class="row">
      <div class="span12 ">
        <div class="title-1">Recently Joined Freelancers</div>
      </div>
    </div>
    <div class="row">

      <div class="portfolio ">

        <div class="row-fluid">
          <div class="span3 work-box" ng-repeat="freelancer in freelancers_start">
            <div>
              <a ng-href="/#/freelancers.show/{{ freelancer.id }}">
                <img ng-if="freelancer.photo_url == null || freelancer.photo_url == ''" class="center" nailthumb width="225" height="225" method="crop" src="styles/img/profile.jpg">
                <img ng-if="freelancer.photo_url != null && freelancer.photo_url != ''" class="center" nailthumb width="225" height="225" method="crop" ng-src="{{ freelancer.photo_url }}">
              </a>
            </div>
            <div class="work-description">
              <h4>{{ freelancer.first_name }}</h4>
              <p>{{ freelancer.job_title }}</p>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span3 work-box" ng-repeat="freelancer in freelancers_end">
            <div>
              <a ng-href="/#/freelancers.show/{{ freelancer.id }}">
                <img ng-if="freelancer.photo_url == null || freelancer.photo_url == ''" class="center" nailthumb width="225" height="225" method="crop" src="styles/img/profile.jpg">
                <img ng-if="freelancer.photo_url != null && freelancer.photo_url != ''" class="center" nailthumb width="225" height="225" method="crop" ng-src="{{ freelancer.photo_url }}">
              </a>
            </div>
            <div class="work-description">
              <h4>{{ freelancer.first_name }}</h4>
              <p>{{ freelancer.job_title }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="span12 center">
        <a href="/#/employer.register" class="btn btn-primary btn-large" title="view more">Become a project owner to view more</a>
      </div>
    </div>
  </div>
</div>



<div class="home-section-div partners-div">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="title-1">Our Clients</div>
      </div>
    </div>
    <div class="row-fluid partners-logos">
      <div class="span3">
        <img class="center" src="styles/img/partners/logo1.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo2.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo3.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo4.png">


      </div>

    </div>
    <div class="row-fluid partners-logos">

      <div class="span3">
        <img class="center" src="styles/img/partners/logo5.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo6.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo7.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo8.png">


      </div>

    </div>
    <div class="row-fluid partners-logos">

      <div class="span3">
        <img class="center" src="styles/img/partners/logo9.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo10.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo11.png">


      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo12.png">


      </div>

    </div>

    <div class="row-fluid partners-logos">
      <div class="span3">
        <img class="center" src="styles/img/partners/logo13.png">
      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo14.png">
      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo15.png">
      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/logo16.png">
      </div>
    </div>

    <div class="row-fluid partners-logos">
      <div class="span3">
        <img class="center" src="styles/img/partners/agility_logo.png">
      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/facebook_logo.png">
      </div>

      <div class="span3">
        <img class="center" src="styles/img/partners/novartis_logo.png">
      </div>
    </div>
  </div>
</div>


<div class="quote_area home-section-div white-bg">
  <div class="container">
    <div class="row-fluid quote-inner">
      <div class="span6 quote-logo">
        <img src="styles/img/quotelogo.png">
      </div>
      <div class="span6">
        <!--<div class="row quote-box">
          <div class="quote-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper. Nulla ligula turpis, faucibus id consequat vel.</p>
            <div class="quote-content-person">Someone, company</div>
          </div>
        </div>-->



        <span class="text">CreativesAtWork has been an incredibly useful service, literally saving us days of work to find the right freelancers.<em class="arw"></em><em class="arwb"></em><span class="handle">Somone</span></span>


      </div>
    </div>
  </div>
</div>


<div class="home-convert-1 home-section-div">
  <div class="container">
    <div class="row-fluid contact-inner">


      <div class="span12">
        <div class="title-1">No more waiting, get started on our platform now</div>
      </div>

    </div>
    <div class="row-fluid choice-box">


      <div class="span6 center separate">
        <p class="align-right banner-font2 ">I have a project</p>
        <p class="p-right">Post your project here now!</p>
        <p class="p-right"><a class="p-right" href="/#/employer.register"><img data-step="3" data-intro="if you have a project, submit by clicking this button!" src="styles/img/button-submit-project-1.png"></a></p>
      </div>
      <div class="span6 center separate2">
        <p class="align-left banner-font2 ">I have skills to offer</p><p>
      </p><p class="p-left">Register with us right now!</p>
        <p class="p-left"><a href="/#/freelancer.register"><img data-step="4" data-intro="Found a project you want to offer your skills to? Click this and join our community" src="styles/img/button-join-1.png"></a></p>
      </div>
    </div>

  </div>
</div>
</div>





</div>