<div class="body_container_home unbody_container">
  <div class="banner-home">
    <div class="container">
      <div class="row">
        <div class="span8 offset4">
          <div class="row">
            <img class="center" src="styles/img/logo.png">
          </div>
          <div class="row">
            <p class="center banner-font1">is a private freelance community for creative talents</p>
            <div class="center banner-font2">Post your project, and we'll send it to a list of hand-picked freelancers all over the world</div>
          </div>
          <div class="row-fluid choice-box">
            <div class="span6 center separate">
              <p class="align-right banner-font2 ">I have a project</p>
              <p class="p-right">We have a network of handpicked, vetted professionals who are ready to get dirty. We match you up and then we make sure the process goes smoothly on both ends.</p>
              <p class="p-right"><a class="p-right" href="/#/employer.register"><img data-step="3" data-intro="if you have a project, submit by clicking this button!" src="styles/img/button-submit-project-1.png"></a></p>
            </div>
            <div class="span6 center separate2">
              <p class="align-left banner-font2 ">I have skills to offer</p><p>
            </p><p class="p-left">Before applying to us, make sure you have a personal online portfolio. Not having one will get your application rejected no matter your design skills or experience.</p>
              <p class="p-left"><a href="/#/freelancer.register"><img data-step="4" data-intro="Found a project you want to offer your skills to? Click this and join our community"   src="styles/img/button-join-1.png"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of banner-home -->


  <div class="home-section-div about_us_area">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="title-1">Why we started this?</div>
        </div>
      </div>
      <div class="row-fluid au_content">
        <div class="span4">
          <img class="center" src="styles/img/icon-projects.png">
          <h3 class="center">Gather projects</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper. Nulla ligula turpis, faucibus id consequat vel.</p>
        </div>
        <div class="span4 center-box">
          <img class="center" src="styles/img/icon-community.png">
          <h3 class="center">Build community</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper. Nulla ligula turpis, faucibus id consequat vel.</p>
        </div>
        <div class="span4">
          <img class="center" src="styles/img/icon-convenience.png">
          <h3 class="center">Ease the convenience</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper. Nulla ligula turpis, faucibus id consequat vel.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="portfolio_area home-section-div">
    <div class="container">
      <div class="row">
        <div class="span12 ">
          <div class="title-1">Recent Joined Freelancers</div>
        </div>
      </div>
      <div class="row">

        <div class="portfolio ">

          <div class="row-fluid">
            <div class="span3 work-box" ng-repeat="freelancer in freelancers_start">
              <div>
                <a ng-href="/#/freelancers.show/{{ freelancer.id }}">
                  <img class="center" ng-src="{{ freelancer.photo_url }}">
                </a>
              </div>
              <div class="work-description">
                <h4>{{ freelancer.first_name }}</h4>
                <p>{{ freelancer.job_title }}</p>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3 work-box" ng-repeat="freelancer in freelancers_end">
              <div>
                <a ng-href="/#/freelancers.show/{{ freelancer.id }}">
                  <img class="center" ng-src="{{ freelancer.photo_url }}">
                </a>
              </div>
              <div class="work-description">
                <h4>{{ freelancer.first_name }} {{ freelancer.last_name }}</h4>
                <p>{{ freelancer.job_title }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="span12 center">
          <a href="/#/employer.register" class="btn btn-primary btn-large" title="view more">Become a project owner to view more</a>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="home-section-div partners-div">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="title-1">Who else is using?</div>
        </div>
      </div>
      <div class="row-fluid partners-logos">
        <div class="span3">
          <img class="center" src="styles/img/partners/logo1.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo2.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo3.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo4.png">
          
          
        </div>
        </div>
        <div class="row-fluid partners-logos">
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo5.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo6.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo7.png">
          
          
        </div>
        
        <div class="span3">
          <img class="center" src="styles/img/partners/logo8.png">
          
          
        </div>
        
        
        
        
        
      </div>
    </div>
  </div>


  <div class="quote_area home-section-div white-bg">
    <div class="container">
      <div class="row-fluid quote-inner">
        <div class="span6 quote-logo">
          <img src="styles/img/quotelogo.png">
        </div>
        <div class="span6">
          <!--<div class="row quote-box">
            <div class="quote-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper. Nulla ligula turpis, faucibus id consequat vel.</p>
              <div class="quote-content-person">Someone, company</div>
            </div>
          </div>-->



          <span class="text">CreativesAtWork has been an incredibly useful service, literally saving us days of work to find the right freelancers.<em class="arw"></em><em class="arwb"></em><span class="handle">Somone</span></span>


        </div>
      </div>
    </div>
  </div>


<div class="home-convert-1 home-section-div">
  <div class="container">
    <div class="row-fluid contact-inner">

      
<div class="span12">
<div class="title-1">No more waiting, get started with our platform now</div>
</div>
      
    </div>
<div class="row-fluid choice-box">


            <div class="span6 center separate">
              <p class="align-right banner-font2 ">I have a project</p>
              <p class="p-right">We have a network of handpicked, vetted professionals who are ready to get dirty. We match you up and then we make sure the process goes smoothly on both ends.</p>
              <p class="p-right"><a class="p-right" href="/#/employer.register"><img data-step="3" data-intro="if you have a project, submit by clicking this button!" src="styles/img/button-submit-project-1.png"></a></p>
            </div>
            <div class="span6 center separate2">
              <p class="align-left banner-font2 ">I have skills to offer</p><p>
            </p><p class="p-left">Before applying to us, make sure you have a personal online portfolio. Not having one will get your application rejected no matter your design skills or experience.</p>
              <p class="p-left"><a href="/#/freelancer.register"><img data-step="4" data-intro="Found a project you want to offer your skills to? Click this and join our community" src="styles/img/button-join-1.png"></a></p>
            </div>
          </div>
        
            </div>
          </div>
        </div>
          
          
  <div class="contact_area home-section-div">
    <div class="container">
      <div class="row-fluid contact-inner">
        <div class="span12">
        
        
          <div class="home-question">

            <div class="desc">Any Questions?</div> <a href="/#/contact"><a href="/#/contact"><button class="btn btn-primary btn large" title="contact us">Contact Us</button></a></a>

            <a target="_blank" href="http://www.facebook.com/pages/CreativePeopleWork/137832046313338"><button class="btn btn-primary btn-small" title="facebook"><i class="icon-facebook"></i></button></a>
            <a href="https://twitter.com/CreativesAtWrk" target="_blank"><button class="btn btn-primary btn-small" title="twitter"><i class="icon-twitter"></i></button></a>

          </div>

          <div class="soc-nav">

          </div>

        </div>
      </div>
    </div>
  </div>


</div>