<div class="body_container_home unbody_container">



  <div class="banner-about">
    <div class="container">
      <div class="row about-comment">
        <div class="title-2 title-white">Privacy Policy</div>
        
      </div>
    </div>
  </div> <!-- end of banner -->


  <div class="about_us_area home-section-div">
  	<div class="container">
  		
  		<div class="row-fluid aboutus-content">
  		
  			<div class="span12">
  			<h3 class="pink-font about-title">Privacy Policy</h3>
  				<p>We are committed to safeguarding your privacy. Please read this privacy policy (“<strong>Policy</strong>”) carefully as it applies to this website (“<strong>Site</strong>”) and all related applications, services and tools, regardless of how they are accessed or used. </p>
  				<p>By accessing and/or using the Site, you agree to all the terms of this Policy.  If you do not agree to all the terms of this Policy, please discontinue your access and use of this Site.</p>
              <p>This Policy is incorporated into and subject to the Terms of Use. Your access and/or use of the Site remain subject to the terms of this Policy and the Terms of Use. In particular, you must be of the age of majority in order to use the Site. By using the Site, you are confirming that you meet the minimum age requirement.</p>
              <ol>
                 <li><strong>Definitions</strong>
                    <dl>
                       <dd>
                       <p>“<strong>Freelancer</strong>” refers to an individual who uses our Services.</p>
                       <p>“<strong>Non-Personally Identifiable Information</strong>” refers to information that does not allow you to be identified from that information, including, without limitation, your web request, cookie information, Internet Protocol address, browser type, browser language, platform type, number of clicks, domain names, and the amount of time spent on particular pages.</p>
                       <p>“<strong>Personal Information</strong>” refers to information that allows you to be identified from that information, including, without limitation, your name, NRIC/ Passport/ FIN or other personal identification number, postal address, email address, telephone number, credit card information, billing information, billing address, and delivery address.</p>
                       <p>“<strong>Project Owner</strong>” refers to any person who uses our Services for the purposes of engaging the services of a Freelancer, and includes any company or association or body of persons, corporate or unincorporate.</p>
                       <p>“<strong>Services</strong>” refers to the services that we provide on or through the Site.</p>
                       <p>“<strong>Terms and Use</strong>” refers to the terms governing your use of the Site and the provision of our Services.</p>
                       <p>“<strong>our</strong>”, “<strong>us</strong>”, “<strong>we</strong>” refer to Creativesatwork Pte. Ltd. and its related entities, affiliates, and subsidiaries.</p>
                       </dd>
                    </dl>
                 </li>
                 <li><strong>Collection and Storage of Information</strong>
                    <dl>
                       <dd><p><strong>2.1.</strong> By using and/or accessing this Site, you consent to our collection and storage of your Personal Information for the provision of our Services, in particular, the uses specified in Clause 4.1.</p></dd>
                       <dd><p><strong>2.2.</strong> In addition, you consent to our collection and storage of your Non-Personally Identifiable Information in relation to the provision of our Services, including the uses specified in Clause 4.2.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Disclosure of Personal Information</strong>
                    <dl>
                       <dd><p><strong>3.1.</strong> By using and/or accessing this Site, you consent to our disclosure of your Personal Information pursuant to Clause 3.2 and/or Clause 3.3.</p></dd>
                       <dd>
                          <p><strong>3.2.</strong> We may disclose your Personal Information to the following third parties:</p>
                          <ol type="a">
                             <li>regulators and law enforcement officials;</li>
                             <li>lawyers;</li>
                             <li>auditors;</li>
                             <li>third party service providers & consultants;</li>
                             <li>Project Owner(s), in the event that you are a Freelancer;</li>
                             <li>credit, debit and charge card companies, banks and other entities processing payment instructions given by you through this Site; and</li>
                             <li>any agent or subcontractor acting on our behalf for the provision of our Services.</li>
                          </ol>
                       </dd>
                       <br>
                       <dd>
                          <p><strong>3.3.</strong> In addition, we may disclose your Personal Information:</p>
                          <ol type="a">
                             <li>to the extent that we are required to do so by the law;</li>
                             <li>in connection with any legal proceedings or prospective legal proceedings;</li>
                             <li>to establish, exercise or defend our legal rights;</li>
                             <li>to the purchaser (or prospective purchaser) of any business or asset which  we are (or are contemplating) selling; and</li>
                             <li>to any person and/or entity for the purpose of processing such information on our behalf.</li>
                          </ol>
                       </dd>
                    </dl>
                 </li>
                 <li><strong>Uses of Information</strong>
                    <dl>
                       <dd>
                          <p><strong>4.1.</strong> By providing us with your Personal Information, you hereby consent that we may use such information:</p>
                          <ol type="a">
                             <li>to provide our Services to you;</li>
                             <li>to enable your use of the Site;</li>
                             <li>to verify and process your personal particulars and payments;</li>
                             <li>to respond to your requests and queries;</li>
                             <li>to communicate with you; </li>
                             <li>to customise your online experience according to your chosen interests and preferences and enhance your current and future visits to the Site;</li>
                             <li>to advise you of other products and services that may interest you;</li>
                             <li>to send promotional material to you;</li>
                             <li>to make suggestions to you and other users of the Site;</li>
                             <li>to conduct marketing research, user profile and statistical analysis;</li>
                             <li>to update our records;</li>
                             <li>to improve the design and marketing of our Services;</li>
                             <li>to solicit and record your opinions and feedback through online surveys and feedback requests if you choose to participate;</li>
                             <li>to comply with law, the requests of law enforcement and regulatory officials, or orders of court;</li>
                             <li>to enforce our legal rights and remedies; and</li>
                             <li>for any other purposes for which we have obtained your consent, including during the registration process under our Terms of Use.</li>
                          </ol>
                       </dd>
                       <br>
                       <dd>
                          <p><strong>4.2.</strong> We also use certain Non-Personally Identifiable Information to improve the quality and design of the Site and to create new features, functionality, and services, by storing, tracking and analysing user preferences and trends. In particular, but without limitation, we use cookies, clear GIFS, and log file information to:</p>
                          <ol type="a">
                             <li>remember information so that you will not have to re-enter it during your visit or the next time you visit the Site;</li>
                             <li>provide custom, personalised content and information;</li>
                             <li>monitor the effectiveness of our marketing campaigns; and</li>
                             <li>monitor aggregate metrics (such as total number of visitors, pages viewed, and Site traffic)</li>
                          </ol>
                       </dd>
                       <br>
                       <dd><p><strong>4.3.</strong> There may be certain platforms, forums, features or pages on this Site that allow you to supply or publish information generally to the public at large, or to a limited community of other users of this Site.  Once such information is supplied or published publicly, we will have no control over its use or disclosure by other third parties.  You hereby agree that we shall have no responsibility or liability for any such information that you supply or publish publicly on this Site, and that such information may be freely used for any purpose by any person.</p></dd>
                       <dd><p><strong>4.4.</strong> Data containing your Personal Information and Non-Personally Identifiable Information is retained as long as the use for which the data was collected continues. The data is then destroyed unless its retention is required to satisfy legal, regulatory or accounting requirements or to protect our interests.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Collection and Storage of Information</strong>
                    <dl>
                       <dd><p><strong>5.1.</strong> You may access and edit any Personal Information you provide us by logging into your account and making the necessary changes.</p></dd>
                       <dd><p><strong>5.2.</strong> You may also request in writing that we provide you with your Personal Information that is in our possession or control and information about the ways in which such information has been or may have been used or disclosed by us within a year before the date of the request. </p></dd>
                    </dl>
                 </li>
                 <li><strong>Removal of Personal Information</strong>
                    <dl>
                       <dd><p>You may request in writing for us to remove the Personal Information on your account. However, because we keep track of past transactions, information associated with past transactions on our services cannot be deleted. In addition, it may be impossible for us to completely delete all of your information because we periodically backup information.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Data Security</strong>
                    <dl>
                       <dd><p><strong>7.1.</strong> We use commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your Personal Information. However, we cannot ensure or warrant the security of any information you transmit to the Site and you do so entirely at your own risk. In particular, we do not warrant that such information may not be accessed, altered, collected, copied, destroyed, disposed of disclosed or modified by breach of any of our physical, technical, or managerial safeguards.</p></dd>
                       <dd><p><strong>7.2.</strong> If we learn of a breach of our physical, technical, or managerial safeguards, we may attempt to notify you electronically so that you can take appropriate protective steps. We may also post a notice on the Site.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Third-Party Advertisers, Links to Other Sites</strong>
                    <dl>
                       <dd><p><strong>8.1.</strong> We may allow third-party ad servers or ad networks to publish advertisements within our Site. These third-party ad servers or ad networks may use technology to send, directly to your browser, the advertisements and links that appear on the Site. They may thereby collect information including but without limitation via cookies or clear GIFS to measure the effectiveness of their advertisements and to personalise the advertising content you see.</p></dd>
                       <dd><p><strong>8.2.</strong> You should therefore always consult the respective terms and conditions and privacy policies of these third-party ad servers or ad networks for further information regarding their practices and instructions on how to opt-out of certain practices. This Policy does not apply to nor control the activities of such other advertisers or websites.</p></dd>
                       <dd><p><strong>8.3.</strong> We do not exercise any control over linked third party websites nor over the conduct of the persons or entities operating such sites. Accordingly, we are not liable to you for any damage resulting from any breach of your privacy while you view such sites.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Transfer of Personal Information outside Singapore</strong>
                    <dl>
                       <dd><p>The disclosure and use of your Personal Information pursuant to Clause 3 and Clause 4 may involve the transfer of such information outside Singapore. You hereby consent to such transfer(s).</p></dd>
                    </dl>
                 </li>
                 <li><strong>Governing Law</strong>
                    <dl>
                       <dd><p>This Policy is governed by and shall be construed in accordance with the laws of Singapore.  By accessing and/or using this Site, you submit to the non-exclusive jurisdiction of the Singapore courts.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Amendments to this Privacy Policy</strong>
                    <dl>
                       <dd><p><strong>11.1.</strong> We reserve the right to amend this Policy at any time and will place any such amendments on this Site. Your continued access and/or use of the Site after any amendment(s) to this Policy constitute(s) your acceptance of such amendment(s).</p></dd>
                       <dd><p><strong>11.2.</strong> You should check for any amendment(s) to this Policy each time you visit the Site.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Contact Information</strong>
                    <dl>
                       <dd><p>We are committed to dealing quickly and appropriately with any requests or comments you have about your privacy in relation to our publications, services, and/or practices. Kindly direct all requests or comments to:</p></dd>
                    </dl>
                    <p style="text-align: center; font-style: italic;">CEO, Creativesatwork Pte. Ltd.<br>
                       Hub Singapore, 113 Somerset Road, Singapore 238165<br>
                       jaycetham@creativesatwork.me</p>
                 </li>
              </ol>
  			</div>
  			
  		</div>
  	</div>
  </div>