<div class="body_container_home unbody_container">



  <div class="banner-services banner-about">
    <div class="container">
      <div class="row about-comment">
        <div class="title-2 title-white">Our Services</div>
        <p>We provide high quality services to ensure your project<br> are done by the most qualify freelancers and will be delivered on time</p>

      </div>
    </div>
  </div> <!-- end of banner -->


  <div class="about_us_area services_area home-section-div">
    <div class="container">

      <div class="row-fluid aboutus-content">
        <div class="span6">
          <div class="services-icon"><img src="styles/img/icon-matchmaking.png"></div>
          <h3 class="about-title">Matchmaking</h3>
          <p class="services-desc"> For <b>project owners</b>, CreativesAtWork provides an efficient and effective selection process to identify the most suitable freelancers for their media projects. </p>
          <p class="services-desc"> For <b>media freelancers</b>, CreativesAtWork provides an aggregating platform for their profiles and expands their job opportunities. </p><br>
          <a href="" class="btn btn-primary btn-large"> Post a project </a>
        </div>
        <div class="span6 right">
          <div class="services-icon"><img src="styles/img/icon-pm.png"></div>
          <h3 class="about-title">Project Management</h3>
          <p class="services-desc"> To simplify the process of engaging the freelancers especially in more complex creative products, we will be happy to assist you in ensuring the smooth production of the creative process all the way to final delivery. </p>
          <p class="services-desc"> Leave the hassle to us, we provide high quality services to ensure  your project are done by the most qualify freelancers and will be delivered on time. </p>

          <a href="" class="btn btn-primary btn-large">
            Contact us
          </a>


        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->

  <div class="about_us_area portfolio-area home-section-div grey-bg">
    <div class="container">
      <h2 class="services-title pink-font">Our Portfolio</h2>
      <div class="row-fluid aboutus-content">
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <a href=""><img src="styles/img/empty1.png" alt=""></a>
            <div class="caption"> <a href="">
              <h4>Project 1 Title</h4>
            </a>
              <p class="text-small-1">Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus. Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <a href=""><img src="styles/img/empty1.png" alt=""></a>
            <div class="caption"> <a href="">
              <h4>Project 1 Title</h4>
            </a>
              <p class="text-small-1">Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus. Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <a href=""><img src="styles/img/empty1.png" alt=""></a>
            <div class="caption"> <a href="">
              <h4>Project 1 Title</h4>
            </a>
              <p class="text-small-1">Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus. Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->

  <div class="portfolio-area showreels-area  home-section-div white-bg">
    <div class="container">
      <h2 class="services-title pink-font">Showreels</h2>
      <div class="row-fluid aboutus-content">
        <div class="span6">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal">
            <div class="showreels-video">
              <iframe width="560" height="315" src="//www.youtube.com/embed/3ResTHKVxf4" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="caption">
              <h4>Showreels-title</h4>
              <p class="text-small-1">Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus. Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal">
            <div class="showreels-video">
              <iframe width="560" height="315" src="//www.youtube.com/embed/3ResTHKVxf4" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="caption">
              <h4>Showreels-title</h4>
              <p class="text-small-1">Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus. Tityre, tu patulae recubans sub tegmine fagi  dolor. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->








</div>