<link href="styles/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<div class="body_container_home unbody_container">



  <div class="banner-services banner-about">
    <div class="container">
      <div class="row about-comment">
        <div class="title-2 title-white">Our Services</div>
        <p>We provide high quality services to ensure your project<br> are done by the most qualify freelancers and will be delivered on time</p>

      </div>
    </div>
  </div> <!-- end of banner -->


  <div class="about_us_area services_area home-section-div">
    <div class="container">

      <div class="row-fluid aboutus-content">
        <div class="span6">
          <div class="services-icon"><img src="styles/img/icon-matchmaking.png"></div>
          <h3 class="about-title">Find the Experts You Need</h3>
          <p class="services-desc"> Need something for your project? Post it here, to find freelancers who can do it for you. Or if you're a freelancer, post your work here so we can find your next big break.</p><br>
          <a href="/#/contact" class="btn btn-primary btn-large"> Post a project </a>
        </div>
        <div class="span6 right">
          <div class="services-icon"><img src="styles/img/icon-pm.png"></div>
          <h3 class="about-title">Do Great Things With Your Project</h3>
          <p class="services-desc"> 
          We're here to help. Just talk to us about your project, and we'll clarify your next step. Even better, we'll bring along the experts you need to consult, and the talent to implement the plans perfectly.
          </p>

          <a href="/#/contact" class="btn btn-primary btn-large">
            Contact us
          </a>


        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->

  <div class="about_us_area portfolio-area home-section-div grey-bg">
    <div class="container">
      <h2 class="services-title pink-font">Our Portfolio</h2>
      <div class="row-fluid aboutus-content">
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <iframe src="https://player.vimeo.com/video/91499499" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            <div class="caption"> <h4>The National School Games 2014</h4>
              
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <iframe width="560" height="281" src="https://www.youtube.com/embed/w_P3vU94ygo" frameborder="0" allowfullscreen></iframe>
            <div class="caption"> <h4>School of Communication, Arts and Social Sciences</h4>
              
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal"> <iframe src="https://player.vimeo.com/video/91499499" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            <div class="caption"> <h4>The National School Games 2014</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->

  <div class="portfolio-area showreels-area  home-section-div white-bg">
    <div class="container">
      <h2 class="services-title pink-font">Showreels</h2>
      <div class="row-fluid aboutus-content">
        <div class="span6">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal">
            <div class="showreels-video">
              <iframe src="https://player.vimeo.com/video/115251213" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
            </div>
            <div class="caption">
              <h4>CreativesAtWork Showreel 2014</h4>
              
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="thumbnail ads-thumb" data-toggle="modal" onclick="PerkView('21')" data-target="#perkModal">
            <div class="showreels-video">
              
              
              <iframe src="https://player.vimeo.com/video/115252013" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              
            </div>
            <div class="caption">
              <h4>Who is CreativesAtWork?</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of section -->








</div>