<div class="body_container_home unbody_container">



  <div class="banner-about">
    <div class="container">
    	<div class="row about-comment">
    		<div class="title-2 title-white">Terms and Conditions</div>
    		
    	</div>
    </div>
  </div> <!-- end of banner -->


  <div class="about_us_area home-section-div">
  	<div class="container">
  		
  		<div class="row-fluid aboutus-content">
  		
  			<div class="span12">
           <h3 class="pink-font about-title">Terms and Conditions</h3>
              <p>CreativesAtWork is a one-stop venue which not only links Users who require professional services for their projects (“<strong>Project Owners</strong>”)  and Users who want to provide such professional services (“<strong>Freelancers</strong>”)( "respectively or jointly as the "<strong>Parties</strong>" and individually as a "<strong>Party</strong>"), but also offers a common platform for such Users to work on, complete and invoice for projects online . (“<strong>Online Services</strong>”).  You should consider the following Terms and Conditions carefully before choosing to use the www.CreativesAtWork.me website (“<strong>Website</strong>”) at any time. </p>
              <ol>
                 <li><strong>Acceptance of Terms & Conditions</strong>
                    <dl>
                       <dd><p><strong>1.1.</strong> These Terms and Conditions will apply if you register or attempt to register for an account on this website (“Website”) operated by <stong>CreativesAtWork Pte Ltd</stong> (“Company”, “our”, “we” or “us”) to access any of the Online Services).</p></dd>
                       <dd><p><strong>1.2.</strong> By clicking on the “<strong>I Accept</strong>” button of these terms and conditions and registering for an account, you agree to be legally bound by these terms and conditions as they may be modified and posted on the Website from time to time.</p></dd>
                       <dd><p><strong>1.2.</strong> Registration for an account allows you to access only those functions and benefits of the Online Service indicated in the membership package selected by you.</p></dd>
                       <dd><p><strong>1.2.</strong> If you do not agree with these <strong>Terms and Conditions</strong>, you may not register for an account nor access our website for any purpose.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Users</strong>
                    <dl>
                       <dd><p>The following terms “You”, “User”, “Users” or “Your” refer to any person accessing Site or any person using our Services which includes the Project Owners and the Freelancers.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Conditions for Registration</strong>
                    <dl>
                       <dd><p><strong>3.1.</strong> If you are a Freelancer, you warrant and represent that you have attained 21 years of age, or, if you are younger than 21 years of age, that you possess legal, parental or guardian consent, and are fully able and competent to enter into and abide by the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms and Conditions, and to abide by and comply with these Terms and Conditions.</p></dd>
                       <dd><p><strong>3.2.</strong> If you are a Project Owner, you warrant and represent that you have the authority to create an account on behalf of the entity you represent and to bind the entity to the terms, conditions, obligations affirmations, representations and warranties set forth in these Terms and Conditions, and to abide by and comply with the Terms and Conditions.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Registration for an Account</strong>
                    <dl>
                       <dd><p><strong>4.1.</strong> Each registration is for a single User only, and on registration, you will choose a user name and password (collectively, your “<strong>ID</strong>”).</p></dd>
                       <dd><p><strong>4.2.</strong> If you are a Freelancer, sharing of registered accounts and/or ID on the Website, accessing the Website through a single ID made available to multiple users on a network, and unauthorised use of another’s ID is prohibited. In the event of inappropriate or unauthorised ID use, we may cancel, restrict or suspend (for such period and on such terms, if any, as we deem fit or necessary) your membership with, and/or access to, the Website without any liability whatsoever.</p></dd>
                       <dd><p><strong>4.3.</strong> If you are Project Owner, sharing of registered accounts and/or ID on the Website, accessing the Website through a single ID made available to multiple users on a network is permitted only when such users are individuals are authorised representative of the Project Owner. The unauthorised use of another Project Owner’s ID is strictly prohibited. In the event of inappropriate or unauthorised ID use, we may cancel, restrict or suspend (for such period and on such terms, if any, as we deem fit or necessary) your membership with, and/or access to, the Website without any liability whatsoever.</p></dd>
                       <dd><p><strong>4.4.</strong> When registering to create your account, you represent and warrant that all registration information you submit is accurate, truthful, complete and lawful. You further warrant that you will maintain the accuracy of such information and update the information as and when necessary.</p></dd>
                       <dd><p><strong>4.2.</strong> You are solely responsible for all activity that occurs on your account, for all use of the Website by you or anyone else using your ID, for preventing any unauthorised use of your ID and for maintaining the confidentiality of your ID and keeping it secure. You agree not to use the registered account and/or ID of another member at any time or to disclose your password to any third party. Please notify us immediately if you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Legal Relationship</strong>
                    <dl>
                       <dd><p><strong>5.1.</strong> <strong>Termination</strong> - We reserve the right to terminate your membership without any reason but expressly including any User that we find to be in violation of any agreement entered into between the User and us. Further and above the foregoing, we may also terminate your membership if we believe that you are creating legal liabilities (potential and/or actual), engaging in fraudulent, immoral or illegal activities, infringing on someone else’s intellectual property rights, or for any other similar reasons.</p></dd>
                       <dd><p><strong>5.2.</strong> <strong>Relationship between the Parties</strong> - The only parties to a project are the Freelancer and the Project Owner. Upon the Project Owner awarding a project to a Freelancer and the Freelancer's acceptance of a project on the Website, the Project Owner and the Freelancer shall enter into contract(s) (“<strong>User Contracts</strong>”) which shall govern the respective rights and obligations of the Project Owner and the Freelancer regarding the provision of the Freelancer’s professional services to the Project Owner. You also agree not to enter into any contractual provisions which may conflict to the obligations pursuant to this Terms & Conditions and the User Contract. Where a provision in a User Contract is in conflict with that found in the Terms and Conditions, the latter shall prevail.</p></dd>
                       <dd><p><strong>5.2.</strong> <strong>Responsibilities of Users</strong> – You shall be responsible for ensuring compliance with your obligations to other Users pursuant to the User Contracts. Any failure to comply with your obligations may result in you being liable to that User(s). It is also your responsibility to ensure that you are in compliance to any domestic law, international laws, statutes, ordinances and regulations relevant to you as a Project Owner or Freelancer, or in any other uses you make of the Website</p></dd>
                       <dd><p><strong>5.2.</strong> <strong>Independent Contractors</strong> – You agree and acknowledge that the relationship between Users is that of independent contractors. Nothing in this User Agreement creates a partnership, joint venture, agency or employment relationship between: (1) Users; or (2) between us and any User.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Modifications to the Online Service</strong>
                    <dl>
                       <dd><p>We reserve the right to make changes or corrections, alter, suspend or discontinue any aspect of the Online Service, including your access to it. Unless explicitly stated to the contrary, any new features will be subject to these terms and conditions. Please note that although we try to ensure that the content and information of our Website and/or the Online Service is accurate, it may contain typographical errors or other inaccuracies.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Intellectual Property Rights</strong>
                    <dl>
                       <dd><p><strong>7.1.</strong> The content on the Website including (but not limited to) the text, software, scripts, graphics, photographs, sounds, music, videos, interactive features and the like (collectively, the "Content"), the trade dress of the Website and any and all trademarks, service marks and logos contained therein (collectively, the "Marks"), are owned by or licensed to us and/or our related entities, and subject to copyright and other intellectual property rights under Singapore and foreign laws and international conventions acceded to by Singapore.</p></dd>
                       <dd><p><strong>7.2.</strong> Nothing contained on the Website may be construed as granting, by implication, estoppel, or otherwise, any right or license to use, copy or imitate any Marks without the prior written consent of the relevant owner. We reserve all rights not expressly granted in and to the Marks.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Fees</strong>
                    <dl>
                       <dd><p><strong>8.1.</strong> All fees are assessed in Singapore Dollars. Your account and all transactions are made and displayed in Singapore dollars unless otherwise specified.</p></dd>
                       <dd><p><strong>8.2.</strong> The Project Owner hereby appoints the Company to be the Paymaster of the Freelancer with regards to the projects that the Project Owner has engaged the Freelancers for. The amounts agreed between the Parties to be paid to the Freelancer shall be first paid to the Company’s specified payment mode via the Website’s online payment system when available.  Thereafter, the Company shall pay the Freelancer (<strong>insert description of payout method to Freelancer</strong>) after deducting all applicable fees and administrative charges.</p></dd>
                       <dd><p><strong>8.3.</strong> Unless an invoice or such document having a similar effect is contested by you in good faith, you shall pay for the Online Service within fourteen (14) days of receipt of the Company’s invoice or such document having a similar effect, for the Online Service. Where you have failed to make the relevant payments within the stipulated timing, the Company shall be entitled to levy interest at the rate of 5% per annum for all monies you owe to the Company from the date when such monies are owed to the date of actual payment.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Non-Circumvention</strong>
                    <dl>
                       <dd><p><strong>9.1.</strong> The Freelancer agrees that during the course of the first project that s/he have been engaged in for any particular Project Owner and within 1 year after its completion (“Term”), the Freelancer shall direct all communications or negotiations regarding further engagements of his/her services with the said Project Owner to us. This Terms and Conditions shall apply to all such subsequent engagements, including the payment of commissionthe Company’s applicable fees and administrative charges.</p></dd>
                       <dd><p><strong>9.2.</strong> Without prejudice to Clause 9.1, fFor the duration of the Term, you agree and undertake not to circumvent or attempt to circumvent your obligations in this letter by directly contacting or negotiating or contracting with any of the Users introduced to you by us to the exclusion of our services except with our prior written consent.</p></dd>
                    </dl>
                 </li>
                 <li><strong>No Warranty</strong>
                    <dl>
                       <dd><p>Nothing in these terms and/or conditions on the website shall be construed as granting you any rights or privileges of any kind with respect to the Online Service or any content and information that you find here. We make no warranty or representations to you of any kind, express or implied, as to the Online Service and any other information, materials and services offered by third parties through the Website. You assume total responsibility and risk for your use of the aforesaid.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Limitation of Liability</strong>
                    <dl>
                       <dd><p><strong>11.1.</strong> You agree and understand that we merely provide the service of allowing Users to offer and purchase professional services and to work together on a common work space online. You also agree and understand that apart from being facilitating the payment between the Parties, we are not involved in any aspect o the transaction between the Project Owners and the Freelancers. As a result, we have no control over the quality or legality of the professional services provided by the Users on the Website or the ability of Freelancers to provide the services or the Employers to pay for the services. We cannot guarantee that a User will actually complete a transaction or act lawfully in using the Website.</p></dd>
                       <dd>
                          <p><strong>11.2.</strong> In no event shall we (and/or our related entities), our officers, directors, employees, or agents, be liable to you for any damages howsoever resulting from any:</p>
                          <ol type="a">
                             <li>errors, mistakes, or inaccuracies of content;</li>
                             <li>death, personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the website;</li>
                             <li>any unauthorised access to or use of our secure servers and/or any and all personal information and/or financial information stored therein;</li>
                             <li>any events or activities organised by you or any third party through the website;</li>
                             <li>any interruption or cessation of transmission to or from the website;</li>
                             <li>any bugs, viruses, trojan horses, or the like, which may be transmitted to or through the website by any third party; and/or</li>
                             <li>any errors or omissions in any content or for any loss or damage of any kind incurred as a result of your use of any content or services uploaded, posted, e-mailed, transmitted, offered or otherwise made available or advertised via the website, whether based on warranty, contract, tort, or any other legal theory, and whether or not we are advised of the possibility of such damages.</li>
                          </ol>
                       </dd>
                       <br>
                       <dd><p><strong>11.3.</strong> Further we shall not be liable to you for any consequential, special or indirect damages whatsoever.</p></dd>
                       <dd><p><strong>11.4.</strong> The foregoing limitations of liability shall apply to the fullest extent permitted by applicable laws. </p></dd>
                       <dd><p><strong>11.5.</strong> You specifically acknowledge that neither we nor our related entities, shall be liable for the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you. </p></dd>
                       <dd><p><strong>11.6.</strong> The Website is controlled and offered by us from our facilities in the Republic of Singapore. We make no representations that the Website is appropriate or available for use in other locations. Those who access or use the Website from other jurisdictions do so at their own volition and are responsible for compliance with applicable local laws</p></dd>
                    </dl>
                 </li>
                 <li><strong>Indemnity</strong>
                    <dl>
                       <dd>
                          <p><strong>12.1.</strong> You agree to defend, indemnify and hold harmless us, our affiliates and related entities, and the officers, directors, employees and agents of each such foregoing entity, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to legal costs and expenses) arising from:</p>
                          <ol type="a">
                             <li>your use of and access to the Website and account;</li>
                             <li>your violation of any term of these Terms and Conditions;</li>
                             <li>your violation of any third party right, including without limitation any intellectual property, property, or privacy right; or</li>
                             <li>any defamatory, obscene, offensive, illegal and/or criminal behaviour or acts by you or authorized by you.</li>
                          </ol>
                       </dd>
                       <br>
                       <dd><p><strong>12.2.</strong> This Clause will survive these Terms of Use and your use of our Website.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Content Submitted by Users</strong>
                    <dl>
                       <dd>
                          <p><strong>13.1.</strong> <strong>Content</strong> – You are solely responsible for any and all information that you provide on the Website. You understand and agree to the following:</p>
                          <ol type="a">
                             <li>We make no warranties as to the actual distribution or publication of User content are made or implied. We have the right (but no obligation) to take any action deemed appropriate with respect to User content if it is believed that such content may create liability for us, harm our business operation or reputation, or cause us to lose the services of our suppliers.</li>
                             <li>Any and all content submitted to the Website is subject to the approval of our Website administrators. We reserve the right to reject, approve, or modify User-submitted content upon the discretion of our Website administrators.</li>
                             <li>You represent and warrant that your content:
                                <ol type="i">
                                   <li>will not infringe upon or misappropriate any copyright, patent, trademark, trade secret, or other intellectual property right or proprietary right or right of publicity or privacy;</li>
                                   <li>will not violate any law or regulation;</li>
                                   <li>will not be defamatory or trade libelous;</li>
                                   <li>will not be obscene or contain any pornography;</li>
                                   <li>will not include incomplete, false or inaccurate information about User or any other individual; and</li>
                                   <li>will not contain any viruses or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.</li>
                                </ol>
                             </li>
                          </ol>
                       </dd>
                    </dl>
                    <dd><p><strong>13.2.</strong> Grant of License- By submitting User content to the Website (including, but not limited to creating your Account; posting a profile, resumé, portfolio, project; sending messages through or to The Website), you hereby grant to us an exclusive, perpetual, worldwide, irrevocable, royalty-free license to use, display, copy, perform and modify User content, under all User intellectual property and proprietary rights worldwide. For the avoidance of doubt, providing links to content hosted on servers other than that of the Website (such as a portfolio of sample works hosted on Your own web site) will not be considered "submitting" such content for purposes of this license grant.</p></dd>
                    <dd>
                       <p><strong>13.2.</strong> We respect the intellectual property rights of others, and require that the people who use the Website to do the same. We shall not, to the best of our knowledge, infringe the rights of any third parties. If you believe that your work has been copied in a way that constitutes copyright infringement, please forward your address, telephone number, and email address, a description of the copyrighted work that you claim has been infringed to the following information to the person named below:</p>
                       <p>Name: </p>
                       <p>Email: </p>
                       <p>Fax: </p>
                       <p>We cannot guarantee that any action will be taken as a result of your correspondence</p>
                    </dd>
                 </li>
                 <li><strong>Restrictions</strong>
                    <dl>
                       <dd>
                          <p><strong>14.1.</strong> Project Owners:</p>
                          <ol type="a">
                             <li>The Project Owner will not redistribute any of the content of the Site, including but not limited to private messages, documents and support tickets.</li>
                             <li>The Project Owner are strictly forbidden to post false or misleading project descriptions on the Project Owner's Account.</li>
                             <li>The Project Owner are strictly forbidden to post project descriptions that, in the judgment and discretion of the Website, are inappropriate to the Website's audience and viewers.</li>
                             <li>The Project Owner will not falsify the Project Owner's own or any other identity.</li>
                             <li>The Project Owner will comply with all of the Website’s policies as posted on the Website from time to time.</li>
                          </ol>
                       </dd>
                       <br>
                       <dd>
                          <p><strong>14.2.</strong> Freelancers</p>
                          <ol type="a">
                             <li>The Freelancer will not redistribute any of the content of the Site, including but not necessary limited to private messages, documents, support tickets.</li>
                             <li>The Freelancer will not falsify Freelancer's own or any other identity. </li>
                             <li>The Freelancer will comply with all The Website policies as posted on the Site from time to time.</li>
                          </ol>
                       </dd>
                       <br>
                    </dl>
                 </li>
                 <li><strong>Availability of Online Service</strong>
                    <dl>
                       <dd><p>We will try to make the Online Service available but cannot guarantee that the Online Service will operate continuously or without interruptions or be error free and we accept no liability for its unavailability. You must not attempt to interfere with the proper working of the Online Service and, in particular, you must not attempt to circumvent security, tamper with, hack into, or otherwise disrupt any computer system, server, website, router or any other Internet connected device.</p></dd>
                    </dl>
                 </li>
                 <li><strong>Confidentiality</strong>
                    <dl>
                       <dd><p>You will keep confidential any confidential information of all parties (including the Project Owner), including without limitation financial and business information and documents. Save as provided in this letter, neither party shall, without the previous written consent of the other party, use or disclose such information to any person except for the proper performance and discharge of its obligations and responsibilities under these terms and conditions or by virtue of any law or a court order.</p></dd>
                    </dl>
                 </li>
                 <li><strong>General</strong>
                    <dl>
                       <dd><p><strong>17.1.</strong> We may alter these Terms and Conditions from time to time and post the new version on our Website, following which all use of the Online Service will be governed by that version.</p></dd>
                       <dd><p><strong>17.2.</strong> These Terms and Conditions together with the Privacy Policy are the whole agreement between you and us. You acknowledge that you have not entered into this agreement in reliance upon any statement, warranty or representation made by us or any other person and you irrevocably and unconditionally waive any rights to claim damages and/or to rescind these terms and conditions by reason of any misrepresentation (other than a fraudulent misrepresentation) that is not contained in the Terms and Conditions, Privacy Policy, order form and payment method instructions.</p></dd>
                       <dd><p><strong>17.3.</strong> If any provision or term of these Terms and Conditions shall become or be declared illegal, invalid or unenforceable for any reason whatsoever, such term or provision shall be divisible from the other terms and conditions and shall be deemed to be deleted from them. </p></dd>
                       <dd><p><strong>17.4.</strong> These Terms and Conditions and your use of our Website are governed by Singapore law and you submit to the non-exclusive jurisdiction of the Singapore courts.</p></dd>
                       <dd><p><strong>17.5.</strong> Failure or delay by us in enforcing an obligation or exercising a right under these terms and conditions does not constitute a waiver of that right or remedy. </p></dd>
                       <dd><p><strong>17.6.</strong> These terms and conditions do not confer any rights on any person or party (other than you and/or us) pursuant to the Contracts (Rights of Third Parties) Act [Cap. 53B] of Singapore or any other law throughout the world conferring rights on third parties.</p></dd>
                    </dl>
                 </li>
              </ol>
              <p><strong>I HAVE READ These Terms of Use AND AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN.</strong></p>
           </div>
           
        </div>
     </div>
  </div>