<form class="form-horizontal" name="form" ng-submit="submitReview()" novalidate>
  <div class="write-review-div">
    <div class="row-fluid">
      <h4>Write your review</h4>
      <div class="review-star-item">
        <p>Review rating 1</p>
        <custom-rating value="form_object.rating_1" max="5" readonly="false" required></custom-rating>
      </div>
      <div class="review-star-item">
        <p>Review rating 2</p>
        <custom-rating value="form_object.rating_2" max="5" readonly="false" required></custom-rating>
      </div>
      <div class="review-star-item">
        <p>Review rating 3</p>
        <custom-rating value="form_object.rating_3" max="5" readonly="false" required></custom-rating>
      </div>
      <div class="review-textarea">
        <textarea rows="4" ng-model="form_object.content" name="review_content" required class="form-control span12"></textarea>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-long btn-info">Submit</button>
    <a ng-click="closeForm()" class="btn btn-long btn-danger">Cancel</a>
    <br><br>
  </div>
</form>